@page
@model GoHorseWeb.Pages.Veiculos.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Veiculo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Veiculo.Marca" class="control-label"></label>
                <input asp-for="Veiculo.Marca" class="form-control" />
                <span asp-validation-for="Veiculo.Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Veiculo.Modelo" class="control-label"></label>
                <input asp-for="Veiculo.Modelo" class="form-control" />
                <span asp-validation-for="Veiculo.Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Veiculo.AnoFabricacao" class="control-label"></label>
                <input asp-for="Veiculo.AnoFabricacao" class="form-control" />
                <span asp-validation-for="Veiculo.AnoFabricacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Veiculo.Placa" class="control-label"></label>
                <input asp-for="Veiculo.Placa" class="form-control" />
                <span asp-validation-for="Veiculo.Placa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
